body {
    background-color: #f0f8ff; 
    font-family: Arial, sans-serif; 
    text-align: center; 
}


h1 {
    color: darkblue; 
    font-size: 32px; 
}


p {
    color: #333;
    font-size: 20px;
    margin: 40px auto;
    max-width: 1200px;
    text-align: justify;
}


a {
    color: white;
    background-color: darkgreen;
    padding: 10px 15px;
    text-decoration: none; 
    border-radius: 8px; 
    margin-bottom: 50px;
}


img {
    display: block;
    margin: 40px auto; /* espacio grande arriba/abajo y centrada */
    border-radius: 15px;
    width: 200px;
    height: auto;
    ;
}

#miBoton {
    background-color: #edeeef;
    color: rgb(6, 14, 4);
    cursor: pointer;
    border-radius: 8px;
    padding: 15px 20px; 
}